<h2 class="pull-left">Admin</h2> <span data-iuris-hook='admin-contacts'></span>
<%= render 'admin/shared/nav' %>

<div class="clearfix"></div>
<hr>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Últimos usuarios
			</div>
			<table class="table">
				<thead>
					<th>ID</th>
					<th>Email</th>
					<th>Alta</th>
				</thead>
				<tbody>
					<% @users.limit(3).each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.email %></td>
							<td><%= user.created_at.strftime("%d %b. %Y") %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="panel-body text-center">
				<%= link_to '-> Ir a usuarios', iuris.admin_users_path %>
			</div>
		</div>
	</div>
	<span data-iuris-hook="admin-prevs"></span>
</div>